@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

body{
	background-color: #dedede;
}

.navbar-inverse{
  background-color: #234567;
}
 
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
 
 .bodyR{
    background-image: url("/tentaculos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.menu{
    background-color: black;
}
 
.homebtn{
    padding-left: 50px;
    font-size: 30px;
    font-weight: 600;
    color: azure !important;
}
/*
 * Configuración de Sidebar
 */
 .links{
 	color: #646b71 !important;
 }
/* Oculta para el responsive móvil, lo mostramos después*/
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Añadimos scroll al contenido si es necesario. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
 
/* Barra de navegacion (Sidebar) */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
 
 
/*
 * Contenido principal
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
} 